<!doctype html>
<html ng-app="app">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
         <link rel="stylesheet" type="text/css" href="style.css">

    </head>
<body>
    
    <div ng-controller="AppCtrl">
        <div ng-repeat="row in symbol.split(',')">
            {{ row }}</div>
            <div ng-repeat="row in indexResult">
                <span class="change" ng-style="{ 'background-color' : RGB(row) }">{{ row }}</span>
            </div>
        <br/>
        <canvas id="trends"></canvas>

    </div>
    <script src="script.js"></script>
   
    
</body>
</html>