.change{
	/*color:white;*/
}
body {
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica";
	color: #555;
	margin: 0 auto;
	max-width: 50em;
	line-height: 1.5;
	padding: 2em 1em;
	
}

.change{
	padding: 1em 1em;
	position:relative;
	display:inline-block;
}